In [1]:
import os
os.getcwd()

'/kaggle/working'

In [5]:
#Submitした各ファイルを読み込む
import pandas as pd

submit1 = pd.read_csv('/kaggle/input/ansemble-logistic/logisticRegression_submit.csv')
submit2 = pd.read_csv('/kaggle/input/ansemble/kfold_submit (1).csv')
submit3 = pd.read_csv('/kaggle/input/ansemble/lgbm_submission.csv')

In [6]:
submit1.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [7]:
#各値を確認
submit_all = pd.DataFrame({'submit1': submit1['Survived'].values,
                           'submit2': submit2['Survived'].values,
                           'submit3': submit3['Survived'].values})

submit_all.head(30)

    submit1  submit2  submit3
0         0        0        0
1         0        0        0
2         0        0        0
3         0        0        0
4         0        0        0
5         0        0        0
6         0        1        0
7         0        0        0
8         0        1        1
9         0        0        0
10        0        0        0
11        0        0        0
12        1        1        1
13        0        0        0
14        0        1        1
15        0        1        1
16        0        0        0
17        0        0        0
18        0        0        0
19        0        1        1
20        0        0        0
21        0        1        1
22        0        1        1
23        1        0        0
24        1        1        1
25        0        0        0
26        1        1        1
27        0        0        0
28        0        0        1
29        0        0        0

In [8]:
#相関を確認
submit_all.corr()

          submit1   submit2   submit3
submit1  1.000000  0.252372  0.288929
submit2  0.252372  1.000000  0.914731
submit3  0.288929  0.914731  1.000000

In [9]:
#3つの結果を加算
submit_ansemble = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')
submit_ansemble['Survived'] = submit1['Survived'] + submit2['Survived'] + submit3['Survived']

submit_ansemble.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [10]:
#結果が2以上なら1とみなす
submit_ansemble['Survived'] = (submit_ansemble['Survived'] >= 2).astype(int)
submit_ansemble.to_csv('ansemble_lightgbm_logistic_submit.csv', index=False)